.section {
	height: 100vh;
	width: 100%;
	scroll-snap-align: center;
	position: relative;
	overflow: hidden;
	position: -webkit-sticky;
	.downarrow {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-image: url("..//../public/img/downarrow.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
		height: 40px;
		z-index: 2;
		border: 0;
		background-color: #ffffff00;
	}
}
